/* Changes background color */
*{
	background-color: #FAF8E1;
}


/* General styles */
p, section{
    /* Sets a max-width for all paragraphs */
    max-width:700px;

    /* Uses the margin trick to center */
    margin:10px auto;
  }

 img{

 	/* Automatically resizes the images to fit the window width */
 	max-width: 100%;
 	height: auto;
 }

 /* Adds a border */
img{ 
	border-style: double;

	margin: 10px;

	padding: 10px;

	border-color: #1D3258;
	 }

 /* Link styles */
a{
	color: #478bb8;
}

a:hover{
 	background: #e6e6e6;
 }

 
/* Body styles */

 body{

 	/* Sets the font family for the body*/
	font-family: 'Georgia', sans-serif;

	/* Sets font weight and centers for specific text*/
	#cas{
		font-weight: 800;
	}

/* Header styles */
header{

	/* Centers the header text */
	text-align: center;

	/* Sets the font family for the body*/
	font-family: 'Roboto', sans-serif;

	/* Adjusts spacing*/
	padding-top: 7px;

}

header h1{

	/* Limits the width of the headline so that it's more readable */
	max-width: 760px;

	/* Uses the margin trick to center */
	margin: 10px auto;
 
	/* Left-aligns the text */
	text-align: left;

	/*Changes font*/
	font-family: georgia;
}

header h2, h3{

	/* Limits the width of the headline so that it's more readable */
	max-width: 750px;

	/*Sets a smaller font size for h2s in the header section */
	font-size: 18px;

	/* Uses the margin trick to center */
	margin: 10px auto;

	/* Left-aligns the text */
	text-align: left;
}

header h3 {

	/*Sets a smaller font size for h3s in the header section */
	font-size: 14px;

}

#space {

	/* Adjusts spacing*/
	padding-bottom: 7px;
}

 /* Styles for the banner image and caption */
figure.banner{

 	/* This display allows the figcaption to align with the image */
 	display:inline-block;

	/* Uses the margin trick to center */
 	margin: 0px auto;
 }

 figcaption.bannerCaption{

 	/* Sets the font size for the caption text */
	font-size: 12px;
	
	/* Centers the caption text */
	text-align: right;

	/* A margin-left of 20px helps the caption appear centered with the image even though it's technically a little shorter */
	margin-left: 20px;
 }

 /* Styles for section headers */
 .content-block h2{

	/* Tweaking the top and bottom margins to make them look neater */
	margin-top: 30px;
	margin-bottom: -5px;
 }

/*Styles Instagram Post Embed*/
.instagram-media-post {
	background: white; 
	max-width: 550px; 
	width: calc(100% - 2px); 
	border-radius: 3px; 
	border: 1px solid rgb(219, 219, 219); 
	box-shadow: none; 
	display: block; 
	margin: 0px 0px 12px; 
	min-width: 326px; 
	padding: 0px;
	text-align: center;
	height: 1123px;
}

/*Styles Instagram Reel Embed*/
.instagram-media-reel {
	background: white; 
	max-width: 550px; 
	width: calc(100% - 2px); 
	border-radius: 3px; 
	border: 1px solid rgb(219, 219, 219); 
	box-shadow: none; 
	display: block; 
	margin: 0px 0px 12px; 
	min-width: 326px;
	padding: 0px; 
	text-align: center;
	height: 1015px;
}

/* Styles Twitter embed*/
.twitter-tweet {
	padding-top: 10px;
	padding-bottom: 15px;
}

/* Centers embeds */
iframe {
	margin: 0 auto !important;
	}

.twitter-tweet {
	margin: 0 auto !important;
}


/* Styles for the final section */
section.last{

	/*  Adds some breathing room after the last paragraph */
	margin-bottom: 25px;
}

/* Styles for the credit line */
#credit {
	text-align: right;
	font-style: italic;
	font-size: 12px;
}

